#index-team.row
  .teams.col.l6.offset-l3.s12.lists
    %ul.collection.with-header
      %li.collection-header
        %h4
          Les nations
        %a.waves-effect.waves-light.modal-trigger.editable.hide{ href: "#modal-addTeamForm" }
          %i.material-icons add_circle
      - @teams.each do |team|
        %li{ class: "collection-item #{'my-selection' if team.short_name == 'FRA' }", onclick: "showAthletes();" }
          .div-flag
            = image_tag("flag/#{team.short_name.downcase}", class: 'flag') if File.exist?("#{Rails.root}/app/assets/images/flag/#{team.short_name.downcase}.png")
          .nation_name= team.name
          = link_to team_path(team.id), method: :delete, class: 'secondary-content editable hide' do
            %i.material-icons delete

  .athletes.col.l4.offset-l1.hide
    %ul.collection.with-header
      %li.collection-header
        %h4
          Membres
        %a.waves-effect.waves-light.modal-trigger.editable.hide{ href: "#modal-addAthleteForm" }
          %i.material-icons add_circle
      - @athletes.each do |athlete|
        %li.collection-item
          .athlete_name= "#{athlete.last_name.upcase} #{athlete.first_name}"
          = link_to 'Supprimer', athlete_path(athlete.id), method: :delete, class: 'secondary-content editable hide'


= render partial: 'teams/modal_add_team'